---
title: "Articles from The Water Damage Pro's of Oregon"
description: "Learn about the water damage services we offer for your city!"
preloadImg: "/assets/images/cabinets2.jpg"
permalink: "blog/"
eleventyNavigation:
  key: Blog
  order: 500
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/assets/css/blog.css" />
<link rel="stylesheet" href="/assets/css/components.css" />
<link rel="stylesheet" href="/assets/css/services.css" />
{% endblock %} {% block body %}
<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="int-hero">
  <h1 id="home-h">Water Damage Blogs</h1>
  <picture>
    <source media="(max-width: 600px)" srcset="/assets/images/banner.jpg" />
    <source media="(min-width: 601px)" srcset="/assets/images/banner.jpg" />
    <img
      aria-hidden="true"
      decoding="async"
      src="/assets/images/banner.jpg"
      alt="water damage blogs"
      loading="eager"
      width="2500"
      height="1667"
    />
  </picture>
</section>

<!-- ============================================ -->
<!--              Main Blog Content               -->
<!-- ============================================ -->

<div class="blog-container main-content-wrapper">
  <!--Main content -->
  <div class="main-content">
    <!-- ============================================ -->
    <!--                 Blog Articles                -->
    <!-- ============================================ -->

    {% if collections.post | length == 0 %}
    <h1>No Recent locations</h1>
    {% else %} {%- for post in collections.post | reverse -%}
    <article class="recent-articles">
      <!--Main Article Image-->
      <picture class="blog-mainImage">
        <img
          src="{{ post.data.image }}"
          alt=""
          width="795"
          height="400"
          decoding="async"
        />
      </picture>
      <!--Article Info-->
      <div class="article-group">
        <div class="blog-authorGroup">
          <!--Author Image-->
          <picture class="blog-author-img">
            <img
              src="/assets/svgs/profile.svg"
              alt="house"
              width="32"
              height="32"
              decoding="async"
            />
          </picture>
          <span class="blog-author">{{ post.data.author }}</span>
          <span aria-hidden="true" class="blog-dot"></span>
          <!--Blog Date-->
          {#
          <span class="blog-date">{{ location.date | locationDate }}</span> #}
        </div>
        <h2 class="blog-h1">{{ post.data.title }}</h2>
        <a href="{{ post.url }}" class="blog-link">Continue Reading</a>
      </div>
    </article>
    {%- endfor -%} {% endif %}
  </div>

  {% include 'components/featured-post.html' %}
</div>

<!-- ============================================ -->
<!--                    Map                       -->
<!-- ============================================ -->

<section id="map-1834">
  <img
    class="cs-icon"
    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/brown-pin.svg"
    alt="water damage service locations"
    decoding="async"
    width="52"
    height="52"
    aria-hidden="true"
  />
  <div class="cs-background">
    <iframe
      loading="lazy"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d45482.6365736436!2d-123.32482185903356!3d44.56296501366395!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54c0409daa14d77d%3A0xd70d808f22bdc0be!2sCorvallis%2C%20OR%2C%20USA!5e0!3m2!1sen!2sca!4v1730694593725!5m2!1sen!2sca"
      width="600"
      height="450"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
  <div class="cs-container">
    <ul class="cs-card-group">
      {% if collections.location | length == 0 %}
      <p>More service coverage coming soon!</p>
      {% else %} {%- for location in collections.location | reverse -%}
      <li class="cs-item">
        <a href="{{ location.url }}" class="cs-li-link cs-drop-link"
          >{{ location.data.location }} &#8594;</a
        >
      </li>
      {%- endfor -%}{% endif %}
    </ul>
  </div>
</section>
{% endblock %}
